.chart-container {
    text-align: left;
    position: relative;
    margin: auto;
    height: 80%;
    width: 80%;
}

.btn-light {
    padding-bottom: 0!important;
    padding-top: 0!important;
}

.btn-danger {
    position: relative!important;
}

.remove-stock {
    margin-top: 2%;
    margin-bottom: 2%;
}

td {
    text-align: center;
}

.list-inline {
    margin-bottom: 0;
}